<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4>This a sample and basic idea to convert JSON data to form inputs based on JSON Keys </h4>
        <p>* Note: you must use JSON keys structure to get the same results</p>
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Paste or edit the JSON Object</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" [(ngModel)]="jsonInput" name="jsonInput" (change)="jsonToForm()"></textarea>
          </div>
        </form>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <form class="w-100" *ngIf="jsonToForm() else errorMsg">
          <ng-container *ngFor="let input of jsonToForm().keys; let i = index">
  
            <div class="form-group" *ngIf="input == InputType.LABLE">
              <label for="">{{ jsonToForm().values[i] }}</label>
            </div>
  
            <div class="form-group" *ngIf="input == InputType.INPUT">
              <input class="form-control" type="text" [value]="jsonToForm().values[i]">
            </div>
  
            <div class="form-group" *ngIf="input == InputType.SELECT_BOX">
              <select class="form-control">
                <option *ngFor="let val of jsonToForm().values[i]">{{ val }}</option>
              </select>
            </div>
  
            <div class="form-group" *ngIf="input == InputType.BUTTON_SUBMIT">
              <button class="btn btn-primary" type="submit" *ngIf="input == InputType.BUTTON_SUBMIT">{{ jsonToForm().values[i] }}</button>
            </div>
          
  
  
  
  
  
          </ng-container>
        </form>
        <ng-template #errorMsg>
          <p class="w-100">Invalid JSON format.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>